<mat-card class="card">
  <mat-card-header>
    <mat-card-title>Help Desk</mat-card-title>
    <mat-card-subtitle>Kaio Oliveira</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="assets/img/home-image.svg" alt="Image Home Help Desk">
  <mat-card-content>
    <p>
      Olá! Seja bem vindo ao sistema Help Desk.<br />
      Esse é um sistema para gerenciamento de chamados simulando um simples Help Desk desenvolvido em Angular 15 e
      Spring Boot 3.
      <br/>
      O projeto tem como objetivo principal abordar os conceitos de aplicações SPAs, aperfeiçoar meus conhecimentos com a linguagem Java e framework Angular.
       O código fonte do projeto pode ser acessado clicando no link Github no menu lateral.
      <br /><br /> Fique a vontade para testar o sistema e deixar sua sugestão.
      <br /> At.te: Kaio Oliveira
     </p>
  </mat-card-content>
</mat-card>
